<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.business.mapper.GuestbookMapper">

    <resultMap id="GuestbookListVoResult" type="com.blog.business.domain.vo.GuestbookListVo">
        <id property="guestbookId" column="guestbook_id"/>
        <result property="nickname" column="nickname"/>
        <result property="email" column="email"/>
        <result property="content" column="content"/>
        <result property="avatar" column="avatar"/>
        <result property="location" column="location"/>
        <result property="rootId" column="root_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="isRoot" column="is_root"/>
        <result property="status" column="status"/>
        <result property="messageTime" column="create_time"/>
        <result property="replyCount" column="reply_count"/>
<!--        <result property="timestamp" column="timestamp"/>-->
    </resultMap>

    <resultMap id="FrontGuestbookListVoResult" type="com.blog.business.domain.entity.Guestbook">
        <id property="guestbookId" column="guestbook_id"/>
        <result property="nickname" column="nickname"/>
        <result property="email" column="email"/>
        <result property="content" column="content"/>
        <result property="avatar" column="avatar"/>
        <result property="location" column="location"/>
        <result property="rootId" column="root_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="isRoot" column="is_root"/>
        <result property="messageTime" column="create_time"/>
        <result property="replyCount" column="reply_count"/>
        <result property="timestamp" column="timestamp"/>
    </resultMap>

    <insert id="addMessage" parameterType="guestbook" useGeneratedKeys="true" keyProperty="guestbookId">
        insert into guestbook
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="guestbookId != null">guestbook_id,</if>
            <if test="nickname != null">nickname,</if>
            <if test="email != null">email,</if>
            <if test="content != null">content,</if>
            <if test="avatar != null">avatar,</if>
            <if test="location != null">location,</if>
            <if test="rootId != null">root_id,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="isRoot != null">is_root,</if>
            <if test="status != null">status,</if>
            <if test="replyCount != null">reply_count,</if>
            <if test="timestamp != null">timestamp,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            is_deleted,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="guestbookId != null">#{guestbookId},</if>
            <if test="nickname != null">#{nickname},</if>
            <if test="email != null">#{email},</if>
            <if test="content != null">#{content},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="location != null">#{location},</if>
            <if test="rootId != null">#{rootId},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="isRoot != null">#{isRoot},</if>
            <if test="status != null">#{status},</if>
            <if test="replyCount != null">#{replyCount},</if>
            <if test="timestamp != null">#{timestamp},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            0,
        </trim>
    </insert>

    <update id="updateGuestbookMessageStatus">
        update guestbook set status = #{status} where guestbook_id = #{guestbookId} and is_deleted = 0
    </update>

    <update id="deleteGuestbookMessage">
        update guestbook set is_deleted = 1 where guestbook_id = #{guestbookId} and is_deleted = 0
    </update>

    <update id="deleteGuestbookMessageByIds">
        update guestbook set is_deleted = 1 where guestbook_id in
        <foreach item="item" collection="guestbookList" separator="," open="(" close=")">
            #{item.guestbookId}
        </foreach>
        and is_deleted = 0
    </update>

    <update id="updateReplyCount">
        <!-- 给根评论增加回复数 -->
        update guestbook set reply_count = reply_count + 1 where guestbook_id = #{rootId} and is_deleted = 0;
    </update>
    <update id="decreaseReplyCount">
        <!-- 减少根评论的回复数 -->
        update guestbook set reply_count = reply_count - 1 where guestbook_id = #{rootId} and is_deleted = 0;
    </update>

    <select id="getGuestbookMessageById" resultType="com.blog.business.domain.entity.Guestbook">
        select guestbook_id,is_root,root_id,create_time,reply_count,status,timestamp from guestbook where is_deleted = 0 and guestbook_id = #{guestbookId}
    </select>

    <select id="getChildGuestbookMessageIdsById" resultType="com.blog.business.domain.entity.Guestbook">
        select guestbook_id,is_root,root_id,create_time,reply_count,status,timestamp from guestbook where is_root = 0 and root_id = #{guestbookId}
    </select>

    <select id="getFrontRootGuestbookList" resultMap="FrontGuestbookListVoResult">
        select guestbook_id, nickname, email, content, avatar, location, root_id, parent_id, is_root,create_time,reply_count from guestbook where is_root = 1 and is_deleted = 0
    </select>

    <select id="getFrontChildGuestbookList" resultMap="FrontGuestbookListVoResult">
        select guestbook_id, nickname, email, content, avatar, location, root_id, parent_id, is_root,create_time,reply_count, timestamp from guestbook where  is_root = 0 and root_id = #{guestbookId} and is_deleted = 0
    </select>

    <select id="getFrontRootGuestbookListCount" resultType="java.lang.Integer">
        select count(*) from guestbook where status = 1 and is_deleted = 0
    </select>


    <select id="getRootGuestbookList" resultMap="GuestbookListVoResult">
        select guestbook_id, nickname, email, content, avatar, location, root_id, parent_id,is_root,status,create_time,reply_count
        from guestbook
        <where>
            <if test="startTime != null">and create_time &gt;= #{startTime}</if>
            <if test="endTime != null">and create_time &lt;= #{endTime}</if>
            and is_root = 1 and is_deleted = 0
        </where>
    </select>

    <select id="getChildGuestbookList" resultMap="GuestbookListVoResult">
        select guestbook_id, nickname, email, content, avatar, location, root_id, parent_id, is_root,status,create_time from guestbook where  is_root = 0 and root_id = #{guestbookId} and is_deleted = 0
    </select>

    <!-- 批量获取根留言的回复数量 -->
    <select id="getReplyCountsByRootIds" resultType="com.blog.business.domain.vo.FrontGuestbookListVo">
        select root_id , count(*) as replyCount
        from guestbook
        <where>
            <if test="rootIds != null and rootIds.size() > 0">
                root_id in
                <foreach item="id" collection="rootIds" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            and is_root = 0 and is_deleted = 0
        </where>
        group by root_id
    </select>


</mapper>