<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.system.mapper.SysProfileMapper">
    <update id="updateAvatarForAdmin">
        update administrators
        set avatar = #{url}
        where admin_id = #{adminId}
        limit 1
    </update>
</mapper>